[Desktop Entry]
Encoding=UTF-8
Name=PPM
Name[ru]=Менеджер пакетов Puppy
Name[de]=Puppy Packetmanager
Name[fr]=Gestionnaire des paquets
Name[hu_HU]=Telepített csomagok függőségei
Name[hu_HU]=Puppy csomagkezelő
Name[ja]=Puppyパッケージマネージャ
Name[pt]=Administrador de pacotes do Puppy
Name[ru]=Менеджер пакетов Puppy
Name[zh_CN]=Puppy 软件包管理
Name[zh_TW]=Puppy 套件管理
Icon=/usr/local/lib/X11/pixmaps/pet48x.png
Comment=Puppy Package Manager
Exec=/usr/local/petget/pkg_chooser.sh
Terminal=false
Type=Application
Categories=X-SetupEntry
GenericName=Puppy Package Manager
