[Desktop Entry]
Encoding=UTF-8
Name=Aplicaciones favoritas
Icon=/usr/local/lib/X11/pixmaps/pet48x.png
Comment=ROX-Filer file manager
Exec=/usr/share/myGTKmenu/myGtkMenu
Terminal=false
Type=Application
Categories=FileManager